.modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    width: 500px;
    background-color: white;
    position: relative;
    z-index: 10;
    text-align: left;
}

.modal-header, .modal-footer {
    padding: 10px;
}

.modal-title {
    margin: 0;
}

.modal-body, .modal-top-body, .modal-bottom-body {
    padding: 10px;
    border-top: 1px;
}

.modal-top-body {
    color: lightslategray;
    font-size: 90%;
}

.modal-bottom-body {
    padding-left: 5px;
    padding-right: 5px;
    background-color: black;
    margin: 10px;
    color: white;
    width:fit-content;
    text-decoration: none;
    cursor: pointer;

    :hover {
        background-color: black;
        color: white;
    }
}